.container {
    height: 80vh;
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    backdrop-filter: blur(10px) contrast(0.8);
    /* Frosted glass effect */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Border */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* Box shadow */
    padding: 20px;
    margin-left: 80vh;
}